@import "tailwindcss";
 
body{
    background-color: #202020;
}
.top{
  border : 2px solid #2B2B2B
}

.menu-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 12px ;
  padding: 1px 5px;
  /* padding-bottom: 5px; */
}



.menu-bar .active p {
  color: #779AD0;
}


.menu-bar .active {
  border-bottom: 3px solid #779AD0; /* Blue underline color */
}



.menu-bar .active img {
  filter: invert(40%) sepia(100%) saturate(200%) hue-rotate(180deg); 
}

.menu-bar.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #779AD0; /* Blue underline color */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 1000px #1F1F1F inset !important;
  -webkit-box-shadow: 0 0 0 1000px #1F1F1F inset !important;
  -webkit-text-fill-color: #99A1AF !important;
  color: #99A1AF !important;
  caret-color: #99A1AF;
  border-color: #6B7280 !important;
  transition: background-color 9999s ease-in-out 0s;
}

input:-internal-autofill-selected {
  background-color: #1F1F1F !important;
  color: #99A1AF !important;
  -webkit-text-fill-color: #99A1AF !important;
  caret-color: #99A1AF;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); /* subtle */
    border-radius: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}